* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fffcf5;
    text-align: justify;
}

span {
    border: 1px solid black;
    display: flex;
}

header {
    border-bottom: 10px solid black;
}

h1 {
    font-size: 8rem;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    text-align: right;
    
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
}

.city-image {
    width: 480px;
    float: left;
    margin-right: 10px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

section {
    border-top: 4px solid black;
    padding: 20px 0 20px 0;
    display: flex;
    gap: 10px;
}

h3 {
    font-size: 20px;
}

article {
    float: left;
    width: 800px;
    margin-right: 40px;
}

.most-read {
    width: 250px;
    padding: 10px 0 10px 0;
}

ol li {
    line-height: 1.3;
}

.advert1 {
    padding: 10px 0 0 0;
}

figcaption {
    padding-bottom: 7px;
}

.advert2, .advert2 {
    width: 250px;
}

@media (max-width: 720px) {
    .wrapper {
        max-width: 700px;
    }
    
    main {
        word-wrap: normal;
    }

    aside {
        display: flex;
        flex-wrap: wrap;
    }
}